{% extends 'base.html' %}

{% block title %} About Us{% endblock title %}

{% block active %} 
<a class="nav-link" href="/">Home</a>
<a class="nav-link" href="/how-to">How-to</a>
<a class="nav-link active" href="/about">About</a>
<a class="nav-link" href="/terms-conditions">Terms & Conditions</a>
{% endblock active %}

{% block body %}
        
        <h1 class="display-4 ">Download It</h1>
        <p class="lead">About us</p>

        <main role="main" class="inner cover">
            <p> Download videos anywhere from the Internet for free using <a href="/">Download It</a></p>
        </main>

{% endblock body %}