{% extends 'base.html' %}

{% block title %} Home{% endblock title %}

{% block active %}
<a class="nav-link" href="/">Home</a>
<a class="nav-link active" href="/how-to">How-to</a>
<a class="nav-link" href="/about">About</a>
<a class="nav-link" href="/terms-conditions">Terms & Conditions</a>
{% endblock active %}

{% block body %}

<h1 class="display-4 ">Download It</h1>
<p class="lead">How-to?</p>

<main role="main" class="inner cover">

    <p>Download videos from almost anywhere and everywhere over the Internet using our completely free <b>Download
            It</b>.</p>
    <br>
    <p>There are a few exceptions though, for example, you wont be able to download videos if: </p>
    <ul class="text-justify">
        <li>You entered a wrong url.</li>
        <li>You are trying to download video from any of our unsupported sites. For ex. Daily Motion</li>
        <li>You entered a url video that needs user authentication. For ex. Instagram's Private Account's posts</li>
        <li>You are trying to download it from any webpage which is banned in your country(For ex. TikTok in India)</li>
    </ul>

    <p>And finally if the given URL is not amoung the above given exceptions you would be able to download your wanted
        video.</p>
    <br>

    <p>There are a large amount of website supported with us, some of them are:</p>
    <ul class="text-justify">
        <li><a href="https://youtube.com" target="_blank">YouTube.com</a></li>
        <li><a href="https://instagram.com" target="_blank">Instagram.com</a></li>
        <li><a href="https://twitter.com" target="_blank">Twitter.com</a></li>
        <li><a href="https://reddit.com" target="_blank">Reddit.com</a></li>
        <li><a href="https://tiktok.com" target="_blank">TikTok.com</a> etc.</li>
    </ul>

    <br>

    <h3>Steps</h3>
    <p>Downloading videos from any site has only three steps:</p>
    <ol class="text-justify">
        <li>Getting the URL of the video.</li>
        <li>Pasting it in the URL bar of <b>Download-It</b> and click Download</li>
        <li>Then in the video playback click on the menu (three dots) and then click Download</li>
    </ol>

    <p>And just with these simple steps you can download any video that you want!</p>

    <br>

    <p>Here are a few examples to download videos from some of these sites.</p>

    <h5>YouTube</h5>
    <div class="ratio ratio-16x9">
        <video class="ratio ratio-16x9" autoplay muted>
            <source src="static\youtube.mp4" type="video/mp4">
            YouTube video Download Tutorial.
        </video>
    </div>
    <br>
    <b>STEPS</b>
    <ul class="text-justify">
        <li>Click on the share button of the video that you want to download.</li>
        <li>Click on the <b>Copy URL</b> button</li>
        <li>Finally come to <b>Download-It</b> and paste the copied URL in the URL bar and click Download</li>
        <li>Then in the video playback click on the menu (three dots) and then click Download</li>
    </ul>
    <br>

    <h5>Instagram</h5>
    <div class="ratio ratio-16x9">
        <video class="ratio ratio-16x9" autoplay muted>
            <source src="static\instagram.mp4" type="video/mp4">
            YouTube video Download Tutorial.
        </video>
    </div>
    <br>
    <b>STEPS</b>
    <ul class="text-justify">
        <li>Click on the <b>share</b> button of the video that you want to download.</li>
        <li>Click on the <b>Copy Link</b> button</li>
        <li>Now come to <b>Download-It</b> and paste the copied URL in the URL bar and click Download</li>
        <li>Finally in the video playback click on the menu (three dots) and then click Download</li>
    </ul>
    <br>

    <h5>Reddit</h5>
    <div class="ratio ratio-16x9">
        <video class="ratio ratio-16x9" autoplay muted>
            <source src="static\reddit.mp4" type="video/mp4">
            YouTube video Download Tutorial.
        </video>
    </div>
    <br>
    <b>STEPS</b>
    <ul class="text-justify">
        <li>Click on the <b>share</b> button of the video that you want to download.</li>
        <li>Click on the <b>Copy Link</b> button</li>
        <li>Now come to <b>Download-It</b> and paste the copied URL in the URL bar and click Download</li>
        <li>Finally in the video playback click on the menu (three dots) and then click Download</li>
    </ul>
    <br>

    <h5>Twitter</h5>
    <div class="ratio ratio-16x9">
        <video class="ratio ratio-16x9" autoplay muted>
            <source src="static\twitter.mp4" type="video/mp4">
            YouTube video Download Tutorial.
        </video>
    </div>
    <br>
    <b>STEPS</b>
    <ul class="text-justify">
        <li>Click on the <b>share</b> button of the video that you want to download.</li>
        <li>Click on the <b>Copy Link to Tweet</b> button</li>
        <li>Now come to <b>Download-It</b> and paste the copied URL in the URL bar and click Download</li>
        <li>Finally in the video playback click on the menu (three dots) and then click Download</li>
    </ul>
    <br>

    <p>I think you got the Idea for how to do it as it's almost same for all of them.</p>
    <br>


</main>

{% endblock body %}